<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">default title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${Note}">
    <div class="form-group">
        <label th:for="noteTitle">Note Title:</label>
        <input class="form-control" th:field="*{noteTitle}"/>
        <span th:errors="*{noteTitle}" class="error"></span>
    </div>
    <div class = "form-group">
        <label th:for = "noteBody">Note Body</label>
        <input class="form control" th:field="*{noteBody}"/>
        <span th:errors="*{noteBody}" class="error"></span>
    </div>




    <input type = "submit" value="Add Note" />
</form>

</body>
</html>



