<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">default title</h1>

<nav th:replace="fragments :: navigation"></nav>




<table class = "table">
    <tr>
        <th>Deadlift</th>
        <th>Squat</th>
        <th>Overhead Press</th>
        <th>Bench</th>
        <th>Bent Over Row</th>
    </tr>

    <<tr th:each="row: ${rep}">
    <td th:each="col: ${row}"><span th:text="${col}"></td>
    </td>
</tr>

    </tr>
</table>


</body>
</html>