<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">default title</h1>

<nav th:replace="fragments :: navigation"></nav>




<table class = "table">
    <tr>
        <th>Lift</th>
        <th>Weight</th>
    </tr>

    <tr th:each= "rep, iterStat : ${orms}" th:if="${iterStat.index>= iterStat.size-1}">
        <td th:text="${rep.deadliftRep}"></td>
        <td th:text="${rep.benchpressRep}"></td>
        <td th:text="${rep.squat}"></td>
        <td th:text="${rep.overheadpress}"></td>
        <td th:text="${rep.bentoverrow}"></td>
    </tr>
</table>


</body>
</html>
